@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua&display=swap');

*{
  margin: 0;
  padding: 0;
}

.main-nav{
 
  color: black;
  text-decoration: none;
  padding-right: 30px;
}
.main-nav:hover{
  color: white;
  transition: all 1s ease-in-out;
}
.active{
  color: white;
  padding-right: 30px
} 

.active:hover{
  color: white;
  border-radius: 5px;
  transition: all 2s ease-out;
}

.form-text{
  font-size: 2em;
  
}


