/* @import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua&display=swap'); */
@import url("https://fonts.googleapis.com/css2?family=Trispace:wght@100&display=swap");
* {
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

a {
  color: black;
  text-decoration: none;
  font-size: 14px;
  padding-right: 20px;
}

a:hover {
  color: darkgrey;
  text-decoration: underline;
}

.active {
  color: white;
  padding-right: 25px;
}

.active:hover {
  color: white;
  border-radius: 5px;
  transition: all 2s ease-out;
}

.form-text {
  font-size: 2em;
}

input::-webkit-input-placeholder {
  color: black;
}


textarea::-webkit-input-placeholder {
  color: black;
}


.cardText{
  font-family: 'Comfortaa', cursive;

}

.postTitle{
  /* padding-right: 20px; */
}